@charset "UTF-8";
/*reset de propiedades generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.container__destacados {
  height: 100px; }

.bg_gray {
  background-color: #888277; }
  .bg_gray a {
    color: #e2e8f0;
    font-weight: bold; }

.presentacion {
  display: grid;
  color: #e2e8f0;
  grid-template-columns: 1fr;
  background: linear-gradient(15deg, #e3e3e3 2%, #787878 10%, #1d1e33 25%, #1d1e33 85%, #787878 90%, #e3e3e3 97%); }
  .presentacion__titulo {
    font-weight: bold;
    padding: 30px;
    font-size: 5rem;
    color: #1d1e33;
    text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #626867; }
  .presentacion__descripcion {
    padding: 30px 100px;
    font-size: 2rem;
    color: #e2e8f0;
    text-align: center; }

/*sección destacados*/
.destacados {
  font-weight: bold;
  text-align: center;
  color: #1d1e33;
  font-size: 5rem;
  padding: 30px 50px;
  animation-name: animacion-destacado;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

@keyframes animacion-destacado {
  0% {
    font-size: 5rem; }
  100% {
    font-size: 5.5rem; } }

.menu-articulos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px; }

.btn-base, .caja__button, .descrip-color-button {
  background-color: #1d1e33;
  color: #e2e8f0;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s; }

.caja {
  background-color: #fff;
  padding: 20px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.8); }
  .caja_img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px; }
  .caja__button {
    width: 100%; }
    .caja__button:hover {
      cursor: pointer;
      font-size: 1.4rem;
      opacity: 0.8; }

.descrip-color {
  font-weight: bold;
  text-align: center;
  color: #1d1e33;
  font-size: 2rem;
  padding: 100px 200px; }
  .descrip-color-button {
    margin: auto; }
    .descrip-color-button:hover {
      cursor: pointer;
      opacity: 0.8; }

/*comienzo el diseño para los productos .html* -para a presentación de los productos repito el formato usado en destacados*/
.descripcion-articulo {
  font-weight: bold;
  text-align: center;
  color: #1d1e33;
  font-size: "";
  padding: 10px; }

/*diseño para contacto.html*/
.contacto {
  background-image: url(../assets/background.png);
  background-size: initial;
  height: 100%; }
  .contacto__presentacion {
    font-weight: bold;
    text-align: center;
    color: #1d1e33;
    font-size: "";
    padding: 50px; }
  .contacto__descripcion {
    color: #1d1e33;
    padding: 20px;
    text-align: center; }

.form {
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1d1e33;
  border-radius: 10px;
  color: #e2e8f0;
  padding: 10px 15px;
  font-size: 1.2rem; }
  .form input {
    margin-bottom: 10px;
    width: 70%; }
  .form-item {
    display: flex;
    flex-direction: column; }
  .form-button {
    background-color: #e2e8f0;
    color: #1d1e33;
    width: 50%;
    margin: 20px 100px 0px 100px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s; }
    .form-button:hover {
      cursor: pointer;
      opacity: 0.8; }

/*Mobile Last primero con 768 px*/
@media (max-width: 768px) {
  /*presentación + logo*/
  .presentacion__titulo {
    padding: 15px;
    font-size: 2rem;
    text-shadow: -1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff, 1px 1px #f3f3f2, 3px 3px #626867; }
  .presentacion__descripcion {
    padding: 15px 50px;
    font-size: 1rem; }
  /*productos destacados*/
  .destacados {
    padding: 15px 25px;
    font-size: 2rem; }
  @keyframes animacion-destacado {
    0% {
      font-size: 2rem; }
    100% {
      font-size: 2.5rem; } }
  .descrip-color {
    font-size: 1.5rem; }
  /*presentación de productos. Me afectará a la sección de destacados y a las tarjetas de productos*/
  .menu-articulos {
    grid-template-columns: repeat(2, 1fr); } }

/*Mobile Last ahora con 425 px*/
@media (max-width: 425px) {
  /*presentación*/
  .container__destacados {
    margin-top: 20px;
    height: 40px; }
  @keyframes animacion-destacado {
    0% {
      font-size: 1rem; }
    100% {
      font-size: 1.5rem; } }
  /*presentación de productos. Me afectará a la sección de destacados y a las tarjetas de productos*/
  .menu-articulos {
    grid-template-columns: 1fr; }
  .caja__button {
    font-size: 0.8rem; }
    .caja__button:hover {
      font-size: 1rem; }
  .descrip-color {
    padding: 20px;
    font-size: 1rem; }
    .descrip-color-button {
      font-size: 0.8rem; }
  /*formulario de contacto*/
  .form {
    width: 300px; }
    .form-button {
      margin: 20px 70px 0px 70px; } }

footer {
  background-color: #888277;
  width: 100%;
  color: #e2e8f0;
  padding: 30px 20px;
  margin-top: 5px; }

.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center; }
  .footer__grid h4 {
    margin-bottom: 20px;
    font-weight: bold; }
  .footer__grid-list li {
    margin: 10px 0; }
    .footer__grid-list li a {
      color: #e2e8f0;
      transition: all 0.3s; }
      .footer__grid-list li a:hover {
        color: #1d1e33; }

.footer-logo {
  height: 130px;
  width: 200px;
  border-radius: 20px; }

.btn-envelope {
  background-color: red;
  border-radius: 4px; }

.btn-telefono {
  background-color: green;
  border-radius: 4px; }

.btn-instagram {
  background-color: #d92e7f;
  border-radius: 4px; }

/*Mobile Last con 425 px*/
@media (max-width: 425px) {
  .footer__grid {
    grid-template-columns: 1fr;
    justify-items: flex-start; }
  .footer__grid h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 0.8rem; }
  .footer__grid-list li {
    margin: 5px 0; }
  .footer-logo {
    width: 100px;
    height: 70px;
    border-radius: 5px; } }
