footer{
    background-color: $bg;
    width: 100%;
    color: $light;
    padding:30px 20px;
    margin-top: 5px;
}
.footer__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:20px;
        justify-items: center;
        & h4{
            margin-bottom: 20px;
            font-weight: bold; 
        }
        &-list li{
            margin: 10px 0;
            & a{
                color: $light;
                transition: $transicion;
                &:hover{
                    color: $dark  
                } 
            }
        }    
    }
.footer-logo{
        height: 130px;
        width: 200px;
        border-radius: 20px;
    }
$contacto:(
    envelope: red,
    telefono:green,
    instagram: #d92e7f,
);
@each $red, $color in $contacto{
.btn-#{$red}{
    background-color: $color;
    border-radius: 4px;
}
}

    /*Mobile Last con 425 px*/
@media (max-width: 425px){
    .footer__grid{
        grid-template-columns: 1fr;   
        justify-items:flex-start;
    }
    .footer__grid h4{
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 0.8rem;
    }
    .footer__grid-list li{
        margin: 5px 0;
      }
    
    .footer-logo{
        width: 100px;
        height: 70px;
        border-radius: 5px;
    }
}